* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header styling */
.header {
  background-color: #000;
}

/* Navbar styling */
.navbar {
    background-color: #000; /* black background */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* white text */
    font-size: 16px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8f9fa; /* slightly lighter hover color */
  }
  
  .navbar-brand img {
    width: 150px; /* adjust logo size */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* white icon for toggler button */
  }
  
  /* Center the bottom navbar links */
  .bottom-links {
    text-align: center;
    margin-top: 20px;
    background-color: #000; /* Ensure the background is the same as the navbar */
    padding: 20px 0; /* Add some padding for spacing */
  }
  
  .bottom-links a {
    color: #fff; /* Make sure the text is white */
    margin: 0 10px;
    font-size: 16px; /* Adjust the font size if necessary */
    text-decoration: none;
  }
  
  .bottom-links a:hover {
    color: #f8f9fa; /* Slightly lighter hover color */
  }

  body {
    /* padding-top: 75px; Adjust based on navbar height */
  }

  .btn-primary {
    background-color: #000; /* Change to your preferred color */
    border-color: #000; /* Ensures the border matches */
  }
  
  .btn-primary:hover {
    background-color: #333333; /* Darker shade for hover effect */
    border-color: #333333;
  }
  
  /*form questions  */
  .form-step {
    margin-bottom: 100px;
  }

 /* Footer Base */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

/* Footer Headings & State Names */
.footer-heading,
.state-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Location Block */
.location-block {
  margin-bottom: 15px;
}

/* City List Styling */
.city-list {
  list-style: none;
  padding-left: 15px;  /* Indentation for cities */
  margin: 0;
  font-size: 1.0rem;
}

.city-list li {
  margin-bottom: 5px;
}

.city-list li a {
  color: #fff;
  text-decoration: none;
}

.city-list li a:hover {
  text-decoration: underline;
}

/* Footer Logos */
.footer-logo {
  max-width: 200px;
  margin-bottom: 10px;
}

/* Footer Note */
.footer-note {
  font-size: 0.8rem;
  margin-top: 10px;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
  .footer .col-md-3 {
    margin-bottom: 20px;
    text-align: center;
  }
}



  